		<!-- START SECTION ABOUT -->
		<section class="section" id="about">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h3 class="section-title">Sobre mim</h3>
						<p class="section-description">Conheça um pouco sobre, minhas experiências e conhecimentos</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<div class="about-text">
							<p>Olá, menu nome é <span class="color-blue"><strong>Robson Oliveira</strong></span>, seja bem-vindo ao meu portfólio.</p>
							<p>Trabalho com Desenvolvimento Frontend desde 2014 e atualmente trabalho no UOL.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="about-photo">
							<figure>
								<img src="assets/img/robson-oliveira.jpg" alt="Robson Oliveira" title="Robson Oliveira" class="img-responsive">
							</figure>
							<div class="hover">
								<ul class="list social-media">
									<li class="list-item horizontal">
										<a href="#" class="icon facebook">
											<i class="fab fa-facebook-f" title="Facebook"></i>
										</a>
									</li>
									<li class="list-item horizontal">
										<a href="#" class="icon linkedin">
											<i class="fab fa-linkedin-in" title="Linkedin"></i>
										</a>
									</li>
									<li class="list-item horizontal">
										<a href="#" class="icon github">
											<i class="fab fa-github" title="Github"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h3 class="section-title">Conhecimentos</h3>
						<p class="section-description">Algumas das tecnologias que trabalho.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
						<div class="icon-box">
							<i class="fab fa-html5 color-html5"></i>
							<p class="icon-name color-html5">HTML5</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
						<div class="icon-box">
							<i class="fab fa-css3 color-css3"></i>
							<p class="icon-name color-css3">CSS3</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
						<div class="icon-box">
							<i class="fab fa-js-square color-js"></i>
							<p class="icon-name color-js">JavaScript</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
						<div class="icon-box">
							<i class="fab fa-sass color-sass"></i>
							<p class="icon-name color-sass">SASS</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
						<div class="icon-box">
							<i class="fab fa-gulp color-gulp"></i>
							<p class="icon-name color-gulp">Gulp</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
						<div class="icon-box">
							<i class="fab fa-wordpress color-wordpress"></i>
							<p class="icon-name color-wordpress">Wordpress</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h3 class="section-title">Formações e Experiências</h3>
						<p class="section-description">Veja as minhas experiências profissionais e os cursos que fiz.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h4 class="timeline-title">
							<i class="fas fa-briefcase"></i> Experiências
						</h4>
						<div class="timeline">
							<div class="timeline-item">
								<h4 class="timeline-companyname">
									<strong>UOL (Universo On-line)</strong> <small><em>atual desde 16/04/2018</em></small>
								</h4>
								<p class="timeline-office">Webmaster Pleno</p>
								<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							</div>
							<div class="timeline-item">
								<h4 class="timeline-companyname">
									<strong>5A Consultoria</strong> <small><em>de 24/07/2017 até 13/04/2018</em></small>
								</h4>
								<p class="timeline-office">Desenvolvedor Frontend</p>
								<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							</div>
							<div class="timeline-item">
								<h4 class="timeline-companyname">
									<strong>Amar Assist</strong> <small><em>de 01/02/2016 até 18/07/2017</em></small>
								</h4>
								<p class="timeline-office">Desenvolvedor Web</p>
								<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							</div>
							<div class="timeline-item">
								<h4 class="timeline-companyname">
									<strong>Agência DPI</strong> <small><em>de 24/02/2015 até 28/09/2015</em></small>
								</h4>
								<p class="timeline-office">Desenvolvedor Web</p>
								<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h4 class="timeline-title">
							<i class="fas fa-graduation-cap"></i> Formações
						</h4>
						<div class="timeline">
							<div class="timeline-item">
								<h4 class="timeline-companyname">
									<strong>Udemy</strong> <small><em>cursando</em></small>
								</h4>
								<p class="timeline-office">Curso Completo do Desenvolvedor NodeJS e MongoDB</p>
								<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							</div>
							<div class="timeline-item">
								<h4 class="timeline-companyname">
									<strong>USJT (Universidade São Judas Tadeu)</strong> <small><em>de 02/2011 até 12/2014</em></small>
								</h4>
								<p class="timeline-office">Ciência da Computação</p>
								<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							</div>
							<div class="timeline-item">
								<h4 class="timeline-companyname">
									<strong>Senac</strong> <small><em>de 03/2009 até 08/2010</em></small>
								</h4>
								<p class="timeline-office">Técnico de Informática para Internet</p>
								<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SECTION ABOUT -->