@mixin my-transition( $time ) {
	@each $navigator in $navigators {
		#{$navigator}transition: $time all ease-in-out;
	}
}

@mixin my-box-shadow( $first, $secound, $third, $fourth, $color ) {
	@each $navigator in $navigators {
		#{$navigator}box-shadow: $first $secound $third $fourth $color;
	}
}

@mixin my-border-radius( $border_radius ) {
	@each $navigator in $navigators {
		#{$navigator}border-radius: $border_radius;
	}
}

@mixin my-filter( $type ) {
	@each $navigator in $navigators {
		#{$navigator}filter: $type;
	}
}

@mixin my-skills-colors(){
	@each $skill, $color in $skills-colors {
		.color-#{$skill} {
			color: $color;
		}
	}
}

@mixin my-gradient-bg( $start-color, $end-color ) {
    background: $start-color;
    background: -moz-linear-gradient(left,  $start-color 0%, $end-color 80%,$end-color 100%);
    background: -webkit-linear-gradient(left,  $start-color 0%, $end-color 80%,$end-color 100%);
    background: linear-gradient(to right,  $start-color 0%, $end-color 80%,$end-color 100%);
}

@mixin my-transform( $type ) {
	@each $navigator in $navigators {
		#{$navigator}transform: $type;
	}
}