$white: #fff;
$black: #333;
$black-rgba-1: rgba(0, 0, 0, .1);
$black-rgba-6: rgba(0, 0, 0, .6);
$red: #e3472f;
$dark-red: #d63820;
$gray: #dbdbdb;
$light-gray-2: #cdcdcd; 
$light-gray: #f0f0f0;
$dark-gray: #a2a2a2;
$dark-gray-2: #848484;
$light-blue: #00bbff;
$light-green: #00e2ad;
$dark-blue: #4271d6;
$blue-rgba-6: rgba(66, 113, 214, .6);
$orange: #f4973c;
$facebook-color: #3d599b;
$linkedin-color: #0097D3;
$github-color: #171515;