html {
	min-height: 100%;
	position: relative;
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

a,
a:hover {
	text-decoration: none;
}

.color-blue {
	color: $light-blue;
}

.color-white {
	color: $white;
}

.site-link,
.site-link:hover,
.menu-link {
	color: $white;
}

.section {
	padding: 5em 0;

	&.bg-gray {
		background: $light-gray;
	}

	.section-title {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 20px;
		text-transform: uppercase;

		&:after {
			background-color: $light-blue;
			content: "";
			display: block;
		    height: 4px;
		    width: 10%;
		    margin: 10px auto;
		}
	}

	.section-description {
		font-size: 18px;
	}
}

ul.list {
	padding: 0;

	.list-item {
		list-style: none;

		&.horizontal {
			display: inline-block;
		}
	}
}