/* 1.0 - Default
 * 2.0 - Header
 * 3.0 - About
 * 4.0 - Footer
*/
/* 1.0 - Default */
html {
  min-height: 100%;
  position: relative; }

footer {
  bottom: 0;
  position: absolute;
  width: 100%; }

a,
a:hover {
  text-decoration: none; }

.color-blue {
  color: #00bbff; }

.color-white {
  color: #fff; }

.site-link,
.site-link:hover,
.menu-link {
  color: #fff; }

.section {
  padding: 5em 0; }
  .section .section-title {
    color: #00bbff;
    font-size: 36px;
    margin-bottom: 20px; }
  .section .section-description {
    font-size: 18px; }

ul.list {
  padding: 0; }
  ul.list .list-item {
    list-style: none; }
    ul.list .list-item.horizontal {
      display: inline-block; }

/* 2.0 - Header */
.header-wrapper {
  background-image: url("../img/bg-workspace.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  height: 600px;
  position: relative;
  z-index: 5; }
  .header-wrapper:after {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

.header {
  padding: 20px 0;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out; }
  .header.header-fixed {
    background: #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; }
    .header.header-fixed .site-link {
      color: #333; }
    .header.header-fixed .navbar-nav > li .menu-link {
      color: #333; }
      .header.header-fixed .navbar-nav > li .menu-link:hover {
        color: #00bbff; }

.site-logo {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0; }

.navbar {
  min-height: 1px; }

.navbar-nav > li .menu-link {
  font-size: 16px;
  padding: 0 15px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out; }
  .navbar-nav > li .menu-link:hover {
    background: transparent;
    color: #00bbff; }

.home-text {
  padding: 5em 0; }
  .home-text .author-name,
  .home-text .author-employment {
    font-weight: 900; }
  .home-text .author-name {
    font-size: 36px; }
  .home-text .author-employment {
    font-size: 60px;
    margin: 40px 0 0; }

.btn-download {
  border: 2px solid #fff;
  display: inline-block;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out; }
  .btn-download:hover {
    background: #00bbff;
    border-color: #00bbff; }
  .btn-download .fa {
    margin-right: 6px; }

.btn-download,
.btn-download:hover {
  color: #fff; }

/* 3.0 - About */
.about-text,
.about-photo {
  margin: 20px 0; }

.about-text {
  font-size: 16px; }

.about-photo {
  position: relative; }
  .about-photo:hover .hover {
    opacity: 1; }
  .about-photo .hover {
    background: rgba(66, 113, 214, 0.6);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .3s ease-in-out 0s;
    width: 100%;
    z-index: 2;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out; }

.social-media {
  margin-top: 45%;
  text-align: center; }
  .social-media .icon {
    border: 2px solid #fff;
    display: inline-block;
    height: 48px;
    margin: 0 5px;
    text-align: center;
    width: 48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out; }
    .social-media .icon.facebook:hover {
      background: #3d599b;
      border-color: #3d599b; }
    .social-media .icon.linkedin:hover {
      background: #0097D3;
      border-color: #0097D3; }
    .social-media .icon.github:hover {
      background: #171515;
      border-color: #171515; }
    .social-media .icon .fab {
      font-size: 24px;
      line-height: 42px;
      color: #fff; }

.skills .list-item {
  margin: 0 5px 5px 0; }

.skills .icon {
  background: url("../../assets/img/sprites/skills.png") no-repeat;
  display: block;
  height: 48px;
  width: 48px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out; }
  .skills .icon.icon-html5 {
    background-position: -96px 0; }
  .skills .icon.icon-css3 {
    background-position: 0px -96px; }
  .skills .icon.icon-less {
    background-position: -48px -96px; }
  .skills .icon.icon-sass {
    background-position: -144px -48px; }
  .skills .icon.icon-javascript {
    background-position: -96px -48px; }
  .skills .icon.icon-jquery {
    background-position: 0 0; }
  .skills .icon.icon-node {
    background-position: -144px 0; }
  .skills .icon.icon-gulp {
    background-position: -48px -48px; }
  .skills .icon.icon-grunt {
    background-position: 0 -48px; }
  .skills .icon.icon-bootstrap {
    background-position: -48px 0; }
  .skills .icon.icon-materialize {
    background-position: -96px -96px; }
  .skills .icon.icon-wordpress {
    background-position: -144px -96px; }

/* 4.0 - Footer */
