		<!-- START SECTION ABOUT -->
		<section class="section" id="about">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h3 class="section-title">Sobre mim</h3>
						<p class="section-description">Conheça um pouco sobre, minhas experiências e conhecimentos</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<div class="about-text">
							<p>Olá, menu nome é <span class="color-blue"><strong>Robson Oliveira</strong></span>, seja bem-vindo ao meu portfólio.</p>
							<p>Trabalho com Desenvolvimento Frontend desde 2014 e atualmente trabalho no UOL.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="about-photo">
							<figure>
								<img src="assets/img/robson-oliveira.jpg" alt="Robson Oliveira" title="Robson Oliveira" class="img-responsive">
							</figure>
							<div class="hover">
								<ul class="list social-media">
									<li class="list-item horizontal">
										<a href="#" class="icon facebook">
											<i class="fab fa-facebook-f" title="Facebook"></i>
										</a>
									</li>
									<li class="list-item horizontal">
										<a href="#" class="icon linkedin">
											<i class="fab fa-linkedin-in" title="Linkedin"></i>
										</a>
									</li>
									<li class="list-item horizontal">
										<a href="#" class="icon github">
											<i class="fab fa-github" title="Github"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ul class="nav nav-tabs custom" role="tablist">
							<li role="presentation" class="active">
								<a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">
									<i class="far fa-file-alt"></i> Conhecimentos
								</a>
							</li>
							<li role="presentation">
								<a href="#experiences" aria-controls="experiences" role="tab" data-toggle="tab">
									<i class="fas fa-briefcase"></i> Experiências
								</a>
							</li>
						</ul>
						<div class="tab-content custom">							
							<div role="tabpanel" class="tab-pane active" id="skills">								
								<ul class="list skills">
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-html5" title="HTML5"></i>
											<p class="text-center icon-name">HTML5</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-css3" title="CSS3"></i>
											<p class="text-center icon-name">CSS3</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-less" title="LESS"></i>
											<p class="text-center icon-name">LESS</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-sass" title="SASS"></i>
											<p class="text-center icon-name">SASS</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-javascript" title="JavaScript"></i>
											<p class="text-center icon-name">JavaScript</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-jquery" title="jQuery"></i>
											<p class="text-center icon-name">jQuery</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-node" title="NodeJS"></i>
											<p class="text-center icon-name">NodeJS</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-gulp" title="Gulp"></i>
											<p class="text-center icon-name">Gulp</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-grunt" title="Grunt"></i>
											<p class="text-center icon-name">Grunt</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-bootstrap" title="Bootstrap"></i>
											<p class="text-center icon-name">Bootstrap</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-materialize" title="Materialize"></i>
											<p class="text-center icon-name">Materialize</p>
										</div>
									</li>
									<li class="list-item horizontal">
										<div class="icon-wrapper">
											<i class="icon icon-wordpress" title="Wordpress"></i>
											<p class="text-center icon-name">Wordpress</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END SECTION ABOUT -->