		<!-- START SECTION ABOUT -->
		<section class="section" id="about">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h3 class="section-title">Sobre mim</h3>
						<p class="section-description">Conheça um pouco sobre, minhas experiências e conhecimentos</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<div class="about-text">
							<p>Olá, menu nome é <span class="color-blue"><strong>Robson Oliveira</strong></span>, seja bem-vindo ao meu portfólio.</p>
							<p>Trabalho com Desenvolvimento Frontend desde 2014 e atualmente trabalho no UOL.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto. Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
							<p>Texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto, texto.</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="about-photo">
							<figure>
								<img src="assets/img/robson-oliveira.jpg" alt="Robson Oliveira" title="Robson Oliveira" class="img-responsive">
							</figure>
							<div class="hover">
								<ul class="list social-media">
									<li class="list-item horizontal">
										<a href="#" class="icon facebook">
											<i class="fab fa-facebook-f" title="Facebook"></i>
										</a>
									</li>
									<li class="list-item horizontal">
										<a href="#" class="icon linkedin">
											<i class="fab fa-linkedin-in" title="Linkedin"></i>
										</a>
									</li>
									<li class="list-item horizontal">
										<a href="#" class="icon github">
											<i class="fab fa-github" title="Github"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<h3 class="section-title">Conhecimentos</h3>
						<p class="section-description">Algumas das tecnologias que trabalho.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
						<ul class="list skills">
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-html5" title="HTML5"></i>
									<p class="icon-name color-html5"><strong>HTML5</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-css3" title="CSS3"></i>
									<p class="icon-name color-css3"><strong>CSS3</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-less" title="LESS"></i>
									<p class="icon-name color-less"><strong>LESS</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-sass" title="SASS"></i>
									<p class="icon-name color-sass"><strong>SASS</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-javascript" title="JavaScript"></i>
									<p class="icon-name color-js"><strong>JavaScript</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-jquery" title="jQuery"></i>
									<p class="icon-name color-jquery"><strong>jQuery</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-node" title="NodeJS"></i>
									<p class="icon-name color-node"><strong>NodeJS</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-gulp" title="Gulp"></i>
									<p class="icon-name color-gulp"><strong>Gulp</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-grunt" title="Grunt"></i>
									<p class="icon-name color-grunt"><strong>Grunt</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-bootstrap" title="Bootstrap"></i>
									<p class="icon-name color-bootstrap"><strong>Bootstrap</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-materialize" title="Materialize"></i>
									<p class="icon-name color-materialize"><strong>Materialize</strong></p>
								</div>
							</li>
							<li class="list-item horizontal">
								<div class="icon-wrapper">
									<i class="icon icon-wordpress" title="Wordpress"></i>
									<p class="icon-name color-wordpress"><strong>Wordpress</strong></p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- END SECTION ABOUT -->